//colors
$black: #0E0E0E;
$light-black: #141414;
$red-black: #0F0308;
$dark-red: #400101;
$red: #730A00; //rgb(115,10,0)
$red2: rgb(92, 10, 3);
$light-blue: #5E818D;// rgb(94,129,141)
$grey-blue: #303A40;
$white: #F3F3F3;
$orange: #FFA500; //rgb(255,165,0)
$grey: #3A4040;
$green: #4EAA33;



//Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Philosopher:400,700');

//$montserrat: 'Montserrat', sans-serif;
//$cinzel: 'Cinzel', serif;
$headings: 'Philosopher', sans-serif;
$text: 'Open Sans', sans-serif;
$button: 'Philosopher', sans-serif; 