@import "variables";
body{
    background: url("../images/background-map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#loading{
    text-align: center; 
    margin: 5px 5px 10px 20px;
    height: 540px;
    width: 635px;
    @media screen and (max-width: 1440px ) {
        width: 600px;
        height: 415px;
        margin-left: auto;
    }
    @media screen and (max-width: 575px ) {
        width: 100%;
        height: 325px;
    }
}


#overlayBeforeLoad{
    width: 100%;
    height: 100%;
    background-color: rgba(14,14,14,.3);
    z-index: 5;
    top: 0px;
    display: none;
    position: absolute;
}
.display-content{
    margin-top: 200px;
    padding-right: 0;
    opacity: .7;
    @media screen and (max-width: 1440px ) {
        margin-top: 140px;
        padding-right: 0;
        opacity: .7;
    }
    @media screen and (max-width: 575px ) {
        margin-top: 100px;
    }
}
.page{
    margin-left: auto;
}
.char-selection{
    &__container{
        max-width: 1000px;
        margin-top: 100px;
        background-color: $black;
        padding: 60px 60px 0;
        @media screen and (max-width: 1440px ) {
            margin-top: 100px;
            padding: 20px 20px 0;
            max-width: 900px;
        }
        @media screen and (max-width: 1367px ) {
            margin-top: 70px;
            padding: 20px 20px 0;
            max-width: 900px;
        }
        @media screen and (max-width: 992px ) {
            margin-top: 150px;
        }
        @media screen and (max-width: 575px ) {
            flex: 100%;
            max-width: 100%;
            margin-top: 100px;
            padding: 20px 20px 0 15px;
        }
        @media screen and (max-width: 400px ) {
            margin-top: 80px;
        }
    }
    &__heading{
        @media screen and (max-width: 1440px ) {
            font-size: 1.8em;
        }
    }
    &__box{
         @media screen and (max-width: 1440px ) {
            flex: 20%;
            max-width: 20%;
        }
        @media screen and (max-width: 992px ) {
            flex: 100%;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (max-width: 575px ) {
            flex: 98%;
            max-width: 98%;
            margin: 0;
        }  
    } 
    &__thumbnail{
        text-align: center;
        padding: 0;
        @media screen and (max-width: 575px ) {
            width: 20%;
        }  
    }
    &__image{
        display: inline-block;
        width: 100px;
        background-color: $black;
        border: 5px outset $grey-blue;
        margin: 5px;
        &:hover{
            cursor: pointer;
            border: 5px inset $grey-blue;
        }
        @media screen and (max-width: 1440px ) {
            width: 75px;
            margin: 0px 5px;
        }
        @media screen and (max-width: 925px ) {
            margin: 0;
            &:hover{
            border: 5px outset $grey-blue;
        }
        }
        @media screen and (max-width: 992px ) {
            width: 60px;
            margin: 20px 0;
        }
        @media screen and (max-width: 575px ) {
            margin: 5px 0;
        }
        @media screen and (max-width: 400px ) {
            margin: 5px 0;
            width: 55px;
        }
    }
}

.character{
    margin: 5px 5px 10px 20px;
    height: 540px;
    width: 635px;
    border: 5px outset $grey-blue;
    background-color: $grey;
    @media screen and (max-width: 1440px ) {
        width: 600px;
        height: 370px;
        margin-left: auto;
    }
    @media screen and (max-width: 575px ) {
        margin: 0;
        height: 335px;
        width: 98%;
    }
    @media screen and (max-width: 400px ) {
        margin: 0;
        height: 100%;
        width: 98%;
    }
    &__container{
        @media screen and (max-width: 1440px ) {
            margin-left: 4%;
        }
        @media screen and (max-width: 992px ) {
            margin-left: 10%;
        }
        @media screen and (max-width: 768px ) {
            margin-left: 5%;
        }
        @media screen and (max-width: 575px ) {
            margin-left: 0;
        }
    }
    &__image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 520px;
        padding: 50px;
        @media screen and (max-width: 1440px ) {
            height: 350px;
            padding: 30px;            
        } 
        @media screen and (max-width: 575px ) {
           height: 300px;
           padding: 10px; 
        }
        @media screen and (max-width: 400px ) {
            height: 200px;
            padding: 10px;
        }
        &--holder{
            padding: 0;
            @media screen and (max-width: 575px ) {
                flex: 40%;
                max-width: 40%;
            }
            @media screen and (max-width: 400px ) {
                flex: 100%;
                max-width: 100%;
            }
        }
    }
    &__info{
        background-color: transparent;
        @media screen and (max-width: 575px ) {
            flex: 60%;
            max-width: 60%;
            margin-right: 0;
            padding-right: 0;
            padding-left: 20px;
        }
        @media screen and (max-width: 400px ) {
            flex: 100%;
            max-width: 100%;
            padding-right: 20px;
            padding-bottom: 10px;
        }
    }
    &__stats{
        font-size: 1em;
        padding-right: 30px;
        overflow: auto;
        @media screen and (max-width: 1440px ) {
            font-size: .8em;
            padding-right: 5px;
        }
        @media screen and (max-width: 575px ) {
            font-size: .75em;
            padding-right: 0px;
            overflow: auto;
            margin-bottom: 5px;
        }
        &--strong{
            color: $orange;
            font-weight: 700;
        }
    }
    &__name{
        font-weight: 500;
        margin-bottom: 40px;
        @media screen and (max-width: 1440px ) {
            margin-bottom: 10px;
            padding-top: 20px;
            font-size: 2em;
        }
        @media screen and (max-width: 575px ) {
            margin-bottom: 20px;
            padding-top: 10px;
            font-size: 1.5em;
        }
    }
}

//styling owerflow scrollbar 
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    @media screen and (max-width: 1440px ) {
        padding-bottom: 20px;
    } 
}

#goToStart{
   height: 51px; 
}


.choose__alert{
    &--text{
        position: absolute;
        bottom: 100px;
        left: 800px;
        width: 270px;
        font-family: $button;
        background-color: $orange;
        padding: 5px 5px 5px 10px;
        color: $black;
        font-weight: 700;
        z-index: 1;
        display: none;
        @media screen and (max-width: 1440px ) {
            bottom: 90px;
            left: 700px;
        }
        @media screen and (max-width: 1060px ) {
            bottom: 90px;
            left: 650px;
        }
        @media screen and (max-width: 992px ) {
            bottom: 90px;
            left: 550px;
        }
        @media screen and (max-width: 830px ) {
            bottom: 90px;
            left: 500px;
        }
        @media screen and (max-width: 770px ) {
            left: 400px;
        }
        @media screen and (max-width: 670px ) {
            left: 340px;
        }
        @media screen and (max-width: 575px ) {
            bottom: 90px;
            left: 100px;
        }
        @media screen and (max-width: 400px ) {
            left: 80px;
        }
        @media screen and (max-width: 350px ) { 
            left: 27px;
        }
    }
    &--arrow{
        position: absolute;
        bottom: 130px;
        left: 870px;
        font-size: 6em;
        color: $orange;
        display: none;
        height: 40px;
        @media screen and (max-width: 1440px ) {
            bottom: 120px;
            left: 750px;
        } 
        @media screen and (max-width: 830px ) {
            left: 700px;
        }
        @media screen and (max-width: 770px ) {
            left: 550px;
        }
        @media screen and (max-width: 625px ) {
            left: 500px;
        }
        @media screen and (max-width: 575px ) {
            bottom: 120px;
            left: 300px;
        }
        @media screen and (max-width: 400px ) {
            bottom: 120px;
            left: 270px;
        }
        @media screen and (max-width: 350px ) { 
            left: 200px;
        }
    }
}