@import "variables";
body{
    
    background: url("../images/background-map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
//FJERNE DEN HER???
#loading{
    text-align: center; 
    color: black;  
    margin: 5px 5px 10px 20px;
    height: 540px;
    width: 635px;
}
.display-content{
    margin-top: 200px;
    padding-right: 0;
    opacity: .7;
}
.page{
    margin-left: auto;
}
.char-selection{
    &__container{
        max-width: 1000px;
        margin-top: 100px;
        background-color: $black;
        padding: 60px 60px 0;
    }
    &__thumbnail{
        text-align: center;
        padding: 0;
    }
    &__image{
        display: inline-block;
        width: 100px;
        background-color: $black;
        border: 5px outset $grey-blue;
        margin: 5px;

    }
}

.character{
    margin: 5px 5px 10px 20px;
    height: 540px;
    width: 635px;
    border: 5px outset $grey-blue;
    background-color: $grey;
    &__image{
        display: block;
        margin-left: auto;
        height: 520px;
        padding: 50px;
        &--holder{
            padding: 0;
        }
    }
    &__info{
        align-content: center;
        background-color: transparent;
    }
    &__stats{
        font-size: 1em;
        padding-right: 30px;
        &--strong{
            color: $orange;
            font-weight: 700;
        }
    }
    &__name{
        font-weight: 500;
        margin-bottom: 40px;
    }
}

.bottom-nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

#goToStart{
   height: 55px; 
}