@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Philosopher:400,700");
body {
  background: url("../images/background-map.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#loading {
  text-align: center;
  margin: 5px 5px 10px 20px;
  height: 540px;
  width: 635px;
}
@media screen and (max-width: 1440px) {
  #loading {
    width: 600px;
    height: 415px;
    margin-left: auto;
  }
}
@media screen and (max-width: 575px) {
  #loading {
    width: 100%;
    height: 325px;
  }
}

#overlayBeforeLoad {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.3);
  z-index: 5;
  top: 0px;
  display: none;
  position: absolute;
}

.display-content {
  margin-top: 200px;
  padding-right: 0;
  opacity: 0.7;
}
@media screen and (max-width: 1440px) {
  .display-content {
    margin-top: 140px;
    padding-right: 0;
    opacity: 0.7;
  }
}
@media screen and (max-width: 575px) {
  .display-content {
    margin-top: 100px;
  }
}

.page {
  margin-left: auto;
}

.char-selection__container {
  max-width: 1000px;
  margin-top: 100px;
  background-color: #0E0E0E;
  padding: 60px 60px 0;
}
@media screen and (max-width: 1440px) {
  .char-selection__container {
    margin-top: 100px;
    padding: 20px 20px 0;
    max-width: 900px;
  }
}
@media screen and (max-width: 1367px) {
  .char-selection__container {
    margin-top: 70px;
    padding: 20px 20px 0;
    max-width: 900px;
  }
}
@media screen and (max-width: 992px) {
  .char-selection__container {
    margin-top: 150px;
  }
}
@media screen and (max-width: 575px) {
  .char-selection__container {
    flex: 100%;
    max-width: 100%;
    margin-top: 100px;
    padding: 20px 20px 0 15px;
  }
}
@media screen and (max-width: 400px) {
  .char-selection__container {
    margin-top: 80px;
  }
}
@media screen and (max-width: 1440px) {
  .char-selection__heading {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 1440px) {
  .char-selection__box {
    flex: 20%;
    max-width: 20%;
  }
}
@media screen and (max-width: 992px) {
  .char-selection__box {
    flex: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 575px) {
  .char-selection__box {
    flex: 98%;
    max-width: 98%;
    margin: 0;
  }
}
.char-selection__thumbnail {
  text-align: center;
  padding: 0;
}
@media screen and (max-width: 575px) {
  .char-selection__thumbnail {
    width: 20%;
  }
}
.char-selection__image {
  display: inline-block;
  width: 100px;
  background-color: #0E0E0E;
  border: 5px outset #303A40;
  margin: 5px;
}
.char-selection__image:hover {
  cursor: pointer;
  border: 5px inset #303A40;
}
@media screen and (max-width: 1440px) {
  .char-selection__image {
    width: 75px;
    margin: 0px 5px;
  }
}
@media screen and (max-width: 925px) {
  .char-selection__image {
    margin: 0;
  }
  .char-selection__image:hover {
    border: 5px outset #303A40;
  }
}
@media screen and (max-width: 992px) {
  .char-selection__image {
    width: 60px;
    margin: 20px 0;
  }
}
@media screen and (max-width: 575px) {
  .char-selection__image {
    margin: 5px 0;
  }
}
@media screen and (max-width: 400px) {
  .char-selection__image {
    margin: 5px 0;
    width: 55px;
  }
}

.character {
  margin: 5px 5px 10px 20px;
  height: 540px;
  width: 635px;
  border: 5px outset #303A40;
  background-color: #3A4040;
}
@media screen and (max-width: 1440px) {
  .character {
    width: 600px;
    height: 370px;
    margin-left: auto;
  }
}
@media screen and (max-width: 575px) {
  .character {
    margin: 0;
    height: 335px;
    width: 98%;
  }
}
@media screen and (max-width: 400px) {
  .character {
    margin: 0;
    height: 100%;
    width: 98%;
  }
}
@media screen and (max-width: 1440px) {
  .character__container {
    margin-left: 4%;
  }
}
@media screen and (max-width: 992px) {
  .character__container {
    margin-left: 10%;
  }
}
@media screen and (max-width: 768px) {
  .character__container {
    margin-left: 5%;
  }
}
@media screen and (max-width: 575px) {
  .character__container {
    margin-left: 0;
  }
}
.character__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 520px;
  padding: 50px;
}
@media screen and (max-width: 1440px) {
  .character__image {
    height: 350px;
    padding: 30px;
  }
}
@media screen and (max-width: 575px) {
  .character__image {
    height: 300px;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .character__image {
    height: 200px;
    padding: 10px;
  }
}
.character__image--holder {
  padding: 0;
}
@media screen and (max-width: 575px) {
  .character__image--holder {
    flex: 40%;
    max-width: 40%;
  }
}
@media screen and (max-width: 400px) {
  .character__image--holder {
    flex: 100%;
    max-width: 100%;
  }
}
.character__info {
  background-color: transparent;
}
@media screen and (max-width: 575px) {
  .character__info {
    flex: 60%;
    max-width: 60%;
    margin-right: 0;
    padding-right: 0;
    padding-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  .character__info {
    flex: 100%;
    max-width: 100%;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}
.character__stats {
  font-size: 1em;
  padding-right: 30px;
  overflow: auto;
}
@media screen and (max-width: 1440px) {
  .character__stats {
    font-size: 0.8em;
    padding-right: 5px;
  }
}
@media screen and (max-width: 575px) {
  .character__stats {
    font-size: 0.75em;
    padding-right: 0px;
    overflow: auto;
    margin-bottom: 5px;
  }
}
.character__stats--strong {
  color: #FFA500;
  font-weight: 700;
}
.character__name {
  font-weight: 500;
  margin-bottom: 40px;
}
@media screen and (max-width: 1440px) {
  .character__name {
    margin-bottom: 10px;
    padding-top: 20px;
    font-size: 2em;
  }
}
@media screen and (max-width: 575px) {
  .character__name {
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 1.5em;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F3F3F3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
@media screen and (max-width: 1440px) {
  .bottom-nav {
    padding-bottom: 20px;
  }
}

#goToStart {
  height: 51px;
}

.choose__alert--text {
  position: absolute;
  bottom: 100px;
  left: 800px;
  width: 270px;
  font-family: "Philosopher", sans-serif;
  background-color: #FFA500;
  padding: 5px 5px 5px 10px;
  color: #0E0E0E;
  font-weight: 700;
  z-index: 1;
  display: none;
}
@media screen and (max-width: 1440px) {
  .choose__alert--text {
    bottom: 90px;
    left: 700px;
  }
}
@media screen and (max-width: 1060px) {
  .choose__alert--text {
    bottom: 90px;
    left: 650px;
  }
}
@media screen and (max-width: 992px) {
  .choose__alert--text {
    bottom: 90px;
    left: 550px;
  }
}
@media screen and (max-width: 830px) {
  .choose__alert--text {
    bottom: 90px;
    left: 500px;
  }
}
@media screen and (max-width: 770px) {
  .choose__alert--text {
    left: 400px;
  }
}
@media screen and (max-width: 670px) {
  .choose__alert--text {
    left: 340px;
  }
}
@media screen and (max-width: 575px) {
  .choose__alert--text {
    bottom: 90px;
    left: 100px;
  }
}
@media screen and (max-width: 400px) {
  .choose__alert--text {
    left: 80px;
  }
}
@media screen and (max-width: 350px) {
  .choose__alert--text {
    left: 27px;
  }
}
.choose__alert--arrow {
  position: absolute;
  bottom: 130px;
  left: 870px;
  font-size: 6em;
  color: #FFA500;
  display: none;
  height: 40px;
}
@media screen and (max-width: 1440px) {
  .choose__alert--arrow {
    bottom: 120px;
    left: 750px;
  }
}
@media screen and (max-width: 830px) {
  .choose__alert--arrow {
    left: 700px;
  }
}
@media screen and (max-width: 770px) {
  .choose__alert--arrow {
    left: 550px;
  }
}
@media screen and (max-width: 625px) {
  .choose__alert--arrow {
    left: 500px;
  }
}
@media screen and (max-width: 575px) {
  .choose__alert--arrow {
    bottom: 120px;
    left: 300px;
  }
}
@media screen and (max-width: 400px) {
  .choose__alert--arrow {
    bottom: 120px;
    left: 270px;
  }
}
@media screen and (max-width: 350px) {
  .choose__alert--arrow {
    left: 200px;
  }
}

/*# sourceMappingURL=char.css.map */
