@import "variables";


body {
    background-color: $black;
   /*  background: url("../images/fantasy-3194227_1920.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    min-width: 1366px ;
}

.game-board{
    &__container{
        position: relative;
        max-width: 1100px;
        margin-top: 30px;
        background-color: $black;
        padding: 60px ;
        max-height: 800px;
        @media screen and (max-width: 1367px ) {
             max-width: 100%;
             padding: 0px ;
        }
    }
    &__row{
        //text-align: center;
        padding: 0;
        max-width: 842px;
        min-width: 842px;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 1367px ) {
            max-width: 600px;
            min-width: 600px;
            margin-left: 200px;
            margin-right: 0;
        }
    }
}


.shout-out{
    position: absolute;
    z-index: 3;
    animation-duration: 1s;
    animation-name: slidedown;
    animation-iteration-count: 1;
    width: 1000px;
    display: block;
    border: 5px outset $grey-blue;
    &__text{
        margin-top: 250px;
        margin-left: 20%;
        font-family: $headings;
        font-size: 3em;
        font-weight: 700;
        
        padding: 15px;
        text-align: center;
        &--good{
            color: white;
            background-color: rgba(94,129,141,.7);
        }
        &--bad{
            color: white;
            background-color: rgba(115,10,0,.7);
        }
    }
}


.tile{
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    @media screen and (max-width: 1367px ) {
        min-width: 100px;
        max-width: 100px;
        min-height: 100px;      
    }
    &__number{
        font-family: $headings;
    }
}
.even {
    background-color: $light-blue;
}

.player{
    &__token{
        &--playerSansa{
            height: 125px;
        }
        &--playerMelisandre{
            height: 125px;
        }
        &--playerJon{
            height: 120px;
        }
        &--playerCersei{
            height: 125px;
        }
        &--playerVarys{
            height: 125px;
        }
        &--playerArya{
            height: 100px;
        }
        &--playerDaenerys{
            height: 120px;
        }
        &--playerSamwell{
            height: 125px;
        }
        &--playerTyrion{
            height: 100px;
        }
        &--playerSandor{
            height: 130px;
        }
    }
    
}

.dice{
    &__container{
        position: relative;
    }
    &__canvas{
        position: absolute;
        bottom: 140px;
        left: 30px;
        animation: shake2 0.5s; 
        animation-iteration-count: 2; 
    }
    &__roll-again{
        position: absolute;
        bottom: 75px;
        left: 50px;
        width: 200px;
        font-family: $button;
        background-color: $orange;
        padding: 5px 5px 5px 10px;
        color: $black;
        font-weight: 700;
        z-index: 1;
        display: none;
        &--arrow{
            position: absolute;
            bottom: 105px;
            left: 100px;
            font-size: 6em;
            color: $orange;
            display: none;
            height: 40px;
        }
    }

    &__button{
        position: absolute;
        bottom: 0px;
        &--inactive{
            background-color: $black;
            border: 5px outset $grey-blue;
            cursor: context-menu!important;
        }
    }
}


//slide down shout out

@keyframes slidedown {
  from {
    top: -40px;
  }

  to {
    top: 30px;
  }
}

//token shake
@keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }

//token shake
@keyframes shake1 {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }


//dice shake
@keyframes shake2 {
            0% { transform: translate(2px, 2px) rotate(0deg); }
            10% { transform: translate(-2px, -3px) rotate(-5deg); }
            20% { transform: translate(-4px, 1px) rotate(5deg); }
            30% { transform: translate(4px, 3px) rotate(0deg); }
            40% { transform: translate(2px, -2px) rotate(5deg); }
            50% { transform: translate(-2px, 3px) rotate(-5deg); }
            60% { transform: translate(-4px, 2px) rotate(0deg); }
            70% { transform: translate(4px, 0px) rotate(-5deg); }
            80% { transform: translate(-2px, -3px) rotate(5deg); }
            90% { transform: translate(2px, 3px) rotate(0deg); }
            100% { transform: translate(2px, -3px) rotate(-5deg); }
        }


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}