@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Philosopher:400,700");
body {
  background-color: #0E0E0E;
  min-width: 1366px;
  max-width: 1366px;
}
@media screen and (max-width: 1367px) {
  body {
    min-width: 1100px;
    max-width: 1100px;
  }
}

@media screen and (max-width: 1367px) {
  .game__navigation {
    background-color: #141414;
  }
}
@media screen and (max-width: 1367px) {
  .game__logo {
    display: none;
  }
}
@media screen and (max-width: 1367px) {
  .game__togglericon {
    background-color: transparent;
  }
}

#startCabin {
  width: 220px;
  position: absolute;
  top: 540px;
  left: -160px;
}
@media screen and (max-width: 1367px) {
  #startCabin {
    top: 516px;
  }
}

#throne {
  width: 150px;
  position: absolute;
  top: 30px;
  left: 910px;
}
@media screen and (max-width: 1367px) {
  #throne {
    width: 150px;
    position: absolute;
    top: 30px;
    left: 910px;
  }
}

.game-board__container {
  position: relative;
  min-width: 1100px;
  margin-top: 65px;
  background-color: #0E0E0E;
  padding: 60px;
  max-height: 800px;
  margin-left: 34%;
}
@media screen and (max-width: 1367px) {
  .game-board__container {
    margin-left: 20%;
    margin-top: 0px;
    padding-top: 35px;
    padding-bottom: 0;
    max-height: 750px;
  }
}
.game-board__row {
  padding: 0;
  max-width: 842px;
  min-width: 842px;
  margin-left: auto;
  margin-right: auto;
}

.shout-out {
  position: absolute;
  z-index: 3;
  width: 1020px;
  display: block;
  border: 5px outset #303A40;
}
@media screen and (max-width: 1367px) {
  .shout-out {
    width: 1020px;
    left: -30px;
  }
}
.shout-out__text {
  margin-top: 250px;
  margin-left: 20%;
  font-family: "Philosopher", sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding: 15px;
  text-align: center;
}
.shout-out__text--good {
  color: #F3F3F3;
  background-color: rgba(43, 94, 28, 0.8);
  border: 5px outset #4EAA33;
}
.shout-out__text--bad {
  color: #F3F3F3;
  background-color: rgba(92, 10, 3, 0.8);
  border: 5px outset #730A00;
}
.shout-out__text--superGood {
  color: #FFA500;
  background-color: #141414;
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tile {
  min-width: 140px;
  max-width: 140px;
  min-height: 140px;
}
.tile__number {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}

.even {
  background-color: #5E818D;
}

.player__token--playerSansa {
  height: 125px;
}
.player__token--playerMelisandre {
  height: 125px;
}
.player__token--playerJon {
  height: 120px;
}
.player__token--playerCersei {
  height: 125px;
}
.player__token--playerVarys {
  height: 125px;
}
.player__token--playerArya {
  height: 100px;
}
.player__token--playerDaenerys {
  height: 120px;
}
.player__token--playerSamwell {
  height: 125px;
}
.player__token--playerTyrion {
  height: 100px;
}
.player__token--playerSandor {
  height: 130px;
}

.dice__container {
  position: relative;
}
.dice__canvas {
  position: absolute;
  bottom: 140px;
  left: 30px;
  animation: diceshake 0.5s;
  animation-iteration-count: 2;
}
@media screen and (max-width: 1367px) {
  .dice__canvas {
    left: 70px;
  }
}
.dice__roll-again {
  position: absolute;
  bottom: 75px;
  left: 20px;
  width: 200px;
  font-family: "Philosopher", sans-serif;
  background-color: #FFA500;
  padding: 5px 5px 5px 10px;
  color: #0E0E0E;
  font-weight: 700;
  z-index: 1;
  display: none;
}
.dice__roll-again--arrow {
  position: absolute;
  bottom: 105px;
  left: 100px;
  font-size: 6em;
  color: #FFA500;
  display: none;
  height: 40px;
}
.dice__click-here {
  position: absolute;
  bottom: 100px;
  left: 80px;
  font-size: 3.5em;
  animation: bumpinghand 1s infinite alternate;
  color: #F3F3F3;
  display: block;
}
@media screen and (max-width: 1367px) {
  .dice__click-here {
    left: 120px;
  }
}
.dice__button {
  position: absolute;
  bottom: 0px;
}
@media screen and (max-width: 1367px) {
  .dice__button {
    left: 60px;
  }
}
.dice__button--inactive {
  background-color: #0E0E0E;
  border: 5px outset #303A40;
  cursor: context-menu !important;
}
.dice__button--inactive:hover {
  border: 5px outset #303A40;
  background-color: #0E0E0E;
}

@keyframes bumpinghand {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake1 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake2 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake3 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes diceshake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes horse {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes forest {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes raven {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes randomnr {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes wolf {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes sword {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes knight {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@keyframes fight {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -3px) rotate(-5deg);
  }
  20% {
    transform: translate(-4px, 1px) rotate(5deg);
  }
  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(2px, -2px) rotate(5deg);
  }
  50% {
    transform: translate(-2px, 3px) rotate(-5deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(4px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-2px, -3px) rotate(5deg);
  }
  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -3px) rotate(-5deg);
  }
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.fa-dragon {
  color: #F3F3F3;
  font-size: 0.4em;
}

/*# sourceMappingURL=game.css.map */
