@import "variables";


.navigation{
    background: transparent;
    padding: 0;
    @media screen and (max-width: 450px ) {
        background-color: $light-black;
        padding-bottom: 20px;
        padding-top: 5px;
    }
    @media screen and (max-width: 400px ) {
        padding-top: 0px;
    }
    &__button{
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 0;
        
        @media screen and (max-width: 450px ) {
            
        }
        @media screen and (max-width: 400px ) {
            
        }
    }
    &__content{
        position: absolute;
        right: 0px;
        top: 100px;
        padding: 20px;
        background-color: $light-black;
        width: 110px;
        @media screen and (max-width: 1367px ) {
            width: 80px;
        }
        @media screen and (max-width: 400px ) {
           top: 80px;
        }
    }
    &__toggler-icon{
        color: $white;
        font-size: 2em;
        background-color: $light-black;
        width: 110px;
        padding-top: 20px;
        padding-bottom: 20px;
        @media screen and (max-width: 1367px ) {
            width: 80px;
            font-size: 1.8em;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        @media screen and (max-width: 450px ) {
            font-size: 1.3em;
            padding-top: 30px;
            padding-right: 30px;
        }
        @media screen and (max-width: 400px ) {
            font-size: 1.3em;
            width: 50px;
            padding-top: 25px;
            padding-right: 0px;
        }
    }
    &__link{
        color: $white;
        margin-right: 18px;
        font-size: 2em;
        padding-top: 15px;
        padding-bottom: 15px;
        @media screen and (max-width: 1367px ) {
            margin-right: 12px;
            font-size: 1.8em;
        }
        @media screen and (max-width: 450px ) {
            background-color: $light-black;
            font-size: 1.3em;
            width: 30px;
            padding-top: 30px;
            padding-right: 10px;
        }
    }
    &__spanlink{
        
        :hover{
            color: $orange;
            cursor: pointer;
        }

    }
}
