@import "variables";
@import "mixins";


#playerOne{
    position: absolute;
    bottom: 45px;
    left: -20px;
    z-index: 2;
    @media screen and (max-width: 1367px ) {
        bottom: 20px;
    }
}

#playerOne[data-number="1"]{
    bottom: 45px;
    left: 120px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 20px;
    }
}

#playerOne[data-number="2"]{
    bottom: 45px;
    left: 260px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 20px;
    }
}

#playerOne[data-number="3"]{
    bottom: 45px;
    left: 400px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 20px;
    }
}

#playerOne[data-number="4"]{
    bottom: 45px;
    left: 540px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
         bottom: 20px;
    }
}
#playerOne[data-number="5"]{
    bottom: 45px;
    left: 680px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 20px;
    }
}
#playerOne[data-number="6"]{
    bottom: 45px;
    left: 820px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 20px;
    }
}
#playerOne[data-number="7"]{
    bottom: 185px;
    left: 780px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 160px;
    }
}
#playerOne[data-number="8"]{
    bottom: 185px;
    left: 640px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 160px;
    }
}
#playerOne[data-number="9"]{
    bottom: 185px;
    left: 500px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 160px;
    }
}
#playerOne[data-number="10"]{
    bottom: 185px;
    left: 360px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 160px;
    }
}
#playerOne[data-number="11"]{
    bottom: 185px;
    left: 220px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 160px;
    }
}
#playerOne[data-number="12"]{
    bottom: 185px;
    left: 80px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 160px;
    }
}
#playerOne[data-number="13"]{
    bottom: 325px;
    left: 120px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 300px;
    }
}
#playerOne[data-number="14"]{
    bottom: 325px;
    left: 260px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 300px;
    }
}
#playerOne[data-number="15"]{
    bottom: 325px;
    left: 400px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 300px;
    }
}
#playerOne[data-number="16"]{
    bottom: 325px;
    left: 540px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 300px;
    }
}
#playerOne[data-number="17"]{
    bottom: 325px;
    left: 680px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 300px;
    }
}
#playerOne[data-number="18"]{
    bottom: 325px;
    left: 820px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 300px;
    }
}
#playerOne[data-number="19"]{
    bottom: 465px;
    left: 780px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 440px;
    }
}
#playerOne[data-number="20"]{
    bottom: 465px;
    left: 640px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 440px;
    }
}
#playerOne[data-number="21"]{
    bottom: 465px;
    left: 500px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 440px;
    }
}
#playerOne[data-number="22"]{
    bottom: 465px;
    left: 360px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 440px;
    }
}
#playerOne[data-number="23"]{
    bottom: 465px;
    left: 220px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 440px;
    }
}
#playerOne[data-number="24"]{
    bottom: 465px;
    left: 80px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 440px;
    }
}
#playerOne[data-number="25"]{
    bottom: 605px;
    left: 120px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="26"]{
    bottom: 605px;
    left: 260px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="27"]{
    bottom: 605px;
    left: 400px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="28"]{
    bottom: 605px;
    left: 540px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="29"]{
    bottom: 605px;
    left: 680px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="30"]{
    bottom: 605px;
    left: 780px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="31"]{
    bottom: 605px;
    left: 955px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="32"]{
    bottom: 605px;
    left: 955px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="33"]{
    bottom: 605px;
    left: 955px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="34"]{
    bottom: 605px;
    left: 955px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="35"]{
    bottom: 605px;
    left: 955px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}
#playerOne[data-number="36"]{
    bottom: 605px;
    left: 955px;
    transition: all 3s;
    @media screen and (max-width: 1367px ) {
        bottom: 580px;
    }
}

//token shake
@keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
            70% { transform: translate(3px, 1px) rotate(-1deg); }
            80% { transform: translate(-1px, -1px) rotate(1deg); }
            90% { transform: translate(1px, 2px) rotate(0deg); }
            100% { transform: translate(1px, -2px) rotate(-1deg); }
        }