@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Philosopher:400,700");
#playerTwo {
  position: absolute;
  bottom: 45px;
  left: -90px;
  z-index: 1;
}
@media screen and (max-width: 1367px) {
  #playerTwo {
    bottom: 20px;
  }
}

#playerTwo[data-number="1"] {
  bottom: 45px;
  left: 80px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="1"] {
    bottom: 20px;
  }
}

#playerTwo[data-number="2"] {
  bottom: 45px;
  left: 220px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="2"] {
    bottom: 20px;
  }
}

#playerTwo[data-number="3"] {
  bottom: 45px;
  left: 360px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="3"] {
    bottom: 20px;
  }
}

#playerTwo[data-number="4"] {
  bottom: 45px;
  left: 500px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="4"] {
    bottom: 20px;
  }
}

#playerTwo[data-number="5"] {
  bottom: 45px;
  left: 640px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="5"] {
    bottom: 20px;
  }
}

#playerTwo[data-number="6"] {
  bottom: 45px;
  left: 780px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="6"] {
    bottom: 20px;
  }
}

#playerTwo[data-number="7"] {
  bottom: 185px;
  left: 820px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="7"] {
    bottom: 160px;
  }
}

#playerTwo[data-number="8"] {
  bottom: 185px;
  left: 680px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="8"] {
    bottom: 160px;
  }
}

#playerTwo[data-number="9"] {
  bottom: 185px;
  left: 540px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="9"] {
    bottom: 160px;
  }
}

#playerTwo[data-number="10"] {
  bottom: 185px;
  left: 380px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="10"] {
    bottom: 160px;
  }
}

#playerTwo[data-number="11"] {
  bottom: 185px;
  left: 260px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="11"] {
    bottom: 160px;
  }
}

#playerTwo[data-number="12"] {
  bottom: 185px;
  left: 100px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="12"] {
    bottom: 160px;
  }
}

#playerTwo[data-number="13"] {
  bottom: 325px;
  left: 80px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="13"] {
    bottom: 300px;
  }
}

#playerTwo[data-number="14"] {
  bottom: 325px;
  left: 220px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="14"] {
    bottom: 300px;
  }
}

#playerTwo[data-number="15"] {
  bottom: 325px;
  left: 360px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="15"] {
    bottom: 300px;
  }
}

#playerTwo[data-number="16"] {
  bottom: 325px;
  left: 500px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="16"] {
    bottom: 300px;
  }
}

#playerTwo[data-number="17"] {
  bottom: 325px;
  left: 640px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="17"] {
    bottom: 300px;
  }
}

#playerTwo[data-number="18"] {
  bottom: 325px;
  left: 780px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="18"] {
    bottom: 300px;
  }
}

#playerTwo[data-number="19"] {
  bottom: 465px;
  left: 820px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="19"] {
    bottom: 440px;
  }
}

#playerTwo[data-number="20"] {
  bottom: 465px;
  left: 680px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="20"] {
    bottom: 440px;
  }
}

#playerTwo[data-number="21"] {
  bottom: 465px;
  left: 540px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="21"] {
    bottom: 440px;
  }
}

#playerTwo[data-number="22"] {
  bottom: 465px;
  left: 400px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="22"] {
    bottom: 440px;
  }
}

#playerTwo[data-number="23"] {
  bottom: 465px;
  left: 240px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="23"] {
    bottom: 440px;
  }
}

#playerTwo[data-number="24"] {
  bottom: 465px;
  left: 120px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="24"] {
    bottom: 440px;
  }
}

#playerTwo[data-number="25"] {
  bottom: 605px;
  left: 80px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="25"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="26"] {
  bottom: 605px;
  left: 220px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="26"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="27"] {
  bottom: 605px;
  left: 360px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="27"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="28"] {
  bottom: 605px;
  left: 500px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="28"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="29"] {
  bottom: 605px;
  left: 640px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="29"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="30"] {
  bottom: 605px;
  left: 780px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="30"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="31"] {
  bottom: 605px;
  left: 955px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="31"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="32"] {
  bottom: 605px;
  left: 955px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="32"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="33"] {
  bottom: 605px;
  left: 955px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="33"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="34"] {
  bottom: 605px;
  left: 955px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="34"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="35"] {
  bottom: 605px;
  left: 955px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="35"] {
    bottom: 580px;
  }
}

#playerTwo[data-number="36"] {
  bottom: 605px;
  left: 955px;
  transition: all 3s;
}
@media screen and (max-width: 1367px) {
  #playerTwo[data-number="36"] {
    bottom: 580px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*# sourceMappingURL=player2.css.map */
