@import "variables";



//TILE   4   FIND HORSE
#trap1{
    background: url("../images/horsetile.jpg") center ;
    background-size: contain;
    border: 5px outset $grey-blue;
}
#endTrap1{
    background: url("../images/horsetile2.png") center ;
    background-size: contain;
}




//TILE   7  CREEPY FOREST
#trap2{
    background: url("../images/creepyforesttile.jpg") center ;
    background-size: contain;
    
    border: 5px outset $grey-blue;
}
#endTrap2{
    background: url("../images/creepyforesttile2.png") center ;
    background-size: contain;
}



//TILE  10 RAVEN DISTRACTION
#trap3{
    background: url("../images/raventile.jpg") center ;
    background-size: contain;
    border: 5px outset $grey-blue;
}
#endTrap3{
    background: url("../images/raventile2.png") center ;
    background-size: contain;
}


//TILE  13 RANDOM BACK
#trap4{
    background: url("../images/question.png") center ;
    background-repeat: no-repeat;
    background-size: 50px;
    border: 5px outset $grey-blue;
}



//TILE  15 GHOST HELPS
#trap5{
    background: url("../images/ghosttile.jpg") center ;
    background-size: contain;
    border: 5px outset $grey-blue;
}

#endTrap5{
    background: url("../images/ghosttile2.png") center ;
    background-size: contain;
}


//TILE  23 FIND SWORD
#trap6{
    background: url("../images/swordtile.jpg") center ;
    background-size: contain;
    border: 5px outset $grey-blue;
}

#endTrap6{
    background: url("../images/swordtile2.png") center ;
    background-size: contain;
}


//TILE  25 ANGRY KNIGHTS
#trap7{
    background: url("../images/knighttile.jpg") center ;
    background-size: contain;
    border: 5px outset $grey-blue;
}
#endTrap7{
    background: url("../images/knighttile2.png") center ;
    background-size: contain;
}


//TILE  29  DRAGON FLY
#trap8{
    background: url("../images/flyingdragontile.jpg") center ;
    background-size: contain;
    border: 5px outset $grey-blue;
}
#endTrap8{
    background: url("../images/flyingdragontile2.png") center ;
    background-size: contain;
}


//TILE 30  FIGHTING DRAGONS
#trap9{
    background: url("../images/dragonfighttile.jpg") center ;
    background-size: contain;
    border: 5px outset $grey-blue;
}

#endTrap9{
    background: url("../images/dragonfighttile2.png") center ;
    background-size: contain;
}
